$text: #FFFFFF;
$darkGreen: #009A76;
$lightGreen: #00BC8C;

@font-face{
  font-family: MurreyC;
  src: url(../font/MurreyC.ttf);
}

.header{
  margin-bottom: 30px;
  &--top{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    &-logo{
      font-family: MurreyC;
      font-style: italic;
      color: $text;
      font-size: 90px;
      span{
        color: $darkGreen;
      }
    }
    &-score{
      color: $text;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 25px;
      align-self: center;
    }
  }
  &--list{
    color: $text;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    p{
      display: inline-block;
      background-color: $darkGreen;
      height: 30px;
      width: 100%;
      text-align: center;
      padding-top: 14px;
      font-family: Helvetica, Arial, sans-serif;
    }
    p:first-child{
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }
    p:last-child{
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
    }
    .selected{
      background-color: $lightGreen;
    }
  }
}